body{
    background-color: bisque;
    color:white;
    padding:0px;
    margin:0px;
    height:100vh;
}
#root{
    height:100%;
}


#SettingsTitle {
    text-shadow: 1px 1px dodgerblue;
}

.grid{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr;
    min-height: 100%;
}

.MuiTextField-root {
    color: burlywood;
}