body{
    background-color: dimgray;
    color:white;
    padding:0px;
    margin:0px;
    height:100vh;
}
#root{
    height:100%;
}


#SettingsTitle {
    text-shadow: 1px 1px dodgerblue;
}

.grid{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr;
    min-height: 100%;
}

.MuiTextField-root {
    color: burlywood;
}

@keyframes scrollBox{
    0% {transform: translateY(0);}
    100% {transform: translateY(-100%);}
}

.foofoo:hover{
    animation-play-state: paused!important;
}